.main-page {
  background-color: #000;
  height: 100%;
  background: url(../images/main_image.png) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  overflow: hidden;
}

.mobile-footer {
  display: flex;
  justify-content: center;
  color: white;
  padding: 1rem;
  background-color: #000;

  .social-icons {
    a {
      .social-icon {
        width: 30px;
        height: 30px;
        margin: 0 2rem;

        position: relative;
        display: inline-block;
        z-index: 1;

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        &:before {
          background-color: #ffffff;
          z-index: -1;
        }

        &:after {
          background-color: #000000;
          z-index: -2;
        }

        &:hover {
          &:before {
            animation: glitchy 0.3s ease 0.3s infinite;
          }

          &:after {
            animation: glitchy 0.3s ease infinite reverse;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .main-page {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .mobile-footer {
      display: flex !important;

      .social-icons {
        a {
          .social-icon {
            width: 40px;
            height: 40px;
            margin: 0 2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .main-page {
    .mobile-footer {
      .social-icons {
        a {
          .social-icon {
            width: 28px;
            height: 28px;
            margin: 0 2rem;
          }
        }
      }
    }
  }
}

@keyframes glitchy {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}
