.koncerty-page {
  background-color: #fff;

  .content {
    max-width: 960px;
    margin: 1rem auto;
  }
}

.koncerty-list {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;

  th {
    background: #333;
    color: white;
    font-weight: bold;
  }
  td,
  th {
    padding: 6px;
  }

  .event-group {
    display: contents;
  }

  .event-club {
    width: 400px;
    max-width: 400px;
  }

  .event-city {
    text-align: left;
    vertical-align: bottom;
  }

  .event-column {
    text-align: right;

    .smsticket-ibutton {
      margin-right: 1rem;
      line-height: 0;
      font-size: 0;
      color: transparent;
    }

    .fb-event {
      vertical-align: 2px;
    }
  }

  .koncerty-event-icon {
    width: 30px;
    height: 30px;
  }

  .koncerty-date,
  .koncerty-page {
    display: block;
  }

  .koncerty-date {
    font-weight: bold;
  }
}

@media only screen and (max-width: 980px) {
  .koncerty-page {
    padding: 1rem 1rem;

    h1 {
      font-size: 1.7rem;
    }

    .event-group {
      display: flex;
      justify-content: space-between;
      width: 102%;
    }

    .koncerty-list {
      tr {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ccc;
      }

      td {
        /* Behave  like a "row" */
        border: none;
      }

      .event-club {
        width: auto;
      }

      .event-city {
        align-self: flex-end;
        justify-self: flex-end;
      }

      .event-column {
        align-self: center;
      }

      .koncerty-date {
        text-align: left;
      }

      td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }
    }
  }
}
