.setlist-page {
  background-color: #fff;

  .content {
    width: 960px;
    margin: 1rem auto;

    .album-tabs {
      overflow: hidden;
      border: 1px solid #000;
      background-color: #000;

      .tab-link {
        background-color: #000;
        color: #fff;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        display: flex;
        align-items: center;
        width: 20%;
        display: flex;
        justify-content: space-evenly;

        &:hover {
          background-color: #fff;
          color: #000;
        }

        &.active {
          background-color: #fff;
          color: #000;
        }
      }
    }

    .album-content {
      display: none;
      padding: 6px 12px;
      border: 1px solid #000;
      border-top: none;

      .song-list {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          list-style-type: none;
          font-size: 20px;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;

          .new-song {
            margin-left: 0.5em;
            display: inline-block;
            color: white;
            background-color: brown;
            padding: 0.2em 0.5em;
            border-radius: 7px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .setlist-page {
    padding: 1rem 2rem;

    h1 {
      font-size: 1.7rem;
    }

    .content {
      width: 100%;

      .setlist {
        .album-tabs {
          display: flex;
          flex-direction: column;

          .tab-link {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            .album-name {
              width: 220px;
            }
          }
        }
      }
    }
  }
}
