header {
  background: #000;
  padding-top: 1rem;
  position: relative;

  .burger-menu {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    .line-1,
    .line-2,
    .line-3 {
      width: 35px;
      height: 5px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
    }
  }

  .change .line-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .line-2 {
    opacity: 0;
  }

  .change .line-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .logo {
    display: flex;
    justify-content: center;

    .logo-img {
      width: 120px;
      height: 145px;
      margin-bottom: 1rem;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .nav-item {
      display: inline-block;
      padding: 0 1rem;

      .nav-link {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;

        .nav-text {
          position: relative;
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;
          color: #fff;
          z-index: 0;

          &:before,
          &:after {
            content: attr(aria-label);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }

          &:before {
            color: #ffffff;
            z-index: -1;
          }

          &:after {
            color: #000000;
            z-index: -2;
          }

          &:hover {
            &:before {
              animation: glitchy 0.3s ease 0.3s infinite;
            }

            &:after {
              animation: glitchy 0.3s ease infinite reverse;
            }
          }
        }

        @keyframes glitchy {
          0% {
            transform: translate(-2px, 2px);
          }
          25% {
            transform: translate(-2px, -2px);
          }
          50% {
            transform: translate(2px, 2px);
          }
          75% {
            transform: translate(2px, -2px);
          }
          100% {
            transform: translate(-2px, 2px);
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  color: white;
  padding: 1rem;
  background-color: #000;

  .social-icons {
    a {
      .social-icon {
        width: 30px;
        height: 30px;
        margin: 0 2rem;

        position: relative;
        display: inline-block;
        z-index: 1;

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        &:before {
          background-color: #ffffff;
          z-index: -1;
        }

        &:after {
          background-color: #000000;
          z-index: -2;
        }

        &:hover {
          &:before {
            animation: glitchy 0.3s ease 0.3s infinite;
          }

          &:after {
            animation: glitchy 0.3s ease infinite reverse;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 980px) {
  .footer {
    display: none;
  }
}

@media only screen and (max-width: 930px) {
  header {
    .burger-menu {
      display: inline-block;
    }
    .nav {
      display: none;
    }
    .nav.responsive {
      display: flex;
      flex-direction: column;
      margin: 0;
      background-color: #000;
      padding-bottom: 1rem;

      .nav-item {
        margin-top: 1rem;

        .nav-link {
          .nav-text {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  header {
    .nav.responsive {
      .nav-item {
        margin-top: 5px;

        .nav-link {
          .nav-text {
            font-size: 16px;
          }
        }
      }
    }
  }
}
